/* purgecss start ignore */

.debug * {
  outline: 1px solid gold;
}

/* Disable chrome highlighting autofill input fields */
input:-webkit-autofill,
input:-internal-autofill-selected,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-selected:hover,
input:-internal-autofill-selected:focus,
input:-internal-autofill-selected:active {
  -webkit-transition-delay: 99999s !important;
  background-color: transparent !important;
}

/* hide scroll bar */
.overflow-scroll-hidden {
  /* FireFox */
  scrollbar-width: none;

  /* IE10+ */
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    /* Chrome, Safari, Edge */
    display: none;
  }
}
.container-auto {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  overflow-x: hidden;
}

.pt-nav {
  padding-top: 80px;
}

/* @media only screen and (max-width: 1440px) {
  .container-auto {
    width: 100% !important;
    padding: 0 16px;
  }
} */

/* purgecss end ignore */
